body {
  margin: 2em;
  font-family: 'Nanum Gothic Coding', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 50px;
  padding-top: 30px;
  padding-bottom: 35px;
  color: #2f3e46;
}

p {
  margin-bottom: 20px;
  font-size: 23px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input {
  width: 70%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

